target/
.settings/
.project
.classpath
.DS_Store
.svn/
maven-eclipse.xml
*.log
*.out
logging.log*
*.bkp
*.class
.springBeans
*.jar
*.gz
bin/
build/
/externalToolBuilders/
*.iml
.idea/
*/pmd
*.pmdruleset.xml
*.externalToolBuilders/Maven_Ant_Builder.launch
*-web/src/test/resources/tomcat-context.xml
*-web/src/main/webapp/META-INF/context.xml
dependency-reduced-pom.xml